body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 16px;
    color: #333;
}

input[type="number"],
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1558b0;
}

button[type="button"] {
    background-color: #e74c3c;
}

button[type="button"]:hover {
    background-color: #e74c3c;
}


.item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
}

.item + .item {
    margin-top: 10px;
}

#items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button[type="submit"] {
    align-self: center;
    margin-top: 20px;
}


.alert {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}