{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Создать заказ</h1>
<form method="POST" action="{% url 'order_create' %}">
    {% csrf_token %}
    <label>Номер стола:</label>
    <input type="number" name="table_number" required>
    
    <div id="items">
        <div class="item">
            <label>Блюдо:</label>
            <input type="text" name="items[]" required>
            <label>Цена:</label>
            <input type="number" name="prices[]" step="0.01" required>
            <label>Количество:</label>
            <input type="number" name="quantities[]" required>
        </div>
    </div>
    <button type="button" onclick="addItem()">Добавить блюдо</button>
    <button type="submit">Создать</button>
</form>

<script src="{% static 'js/order_create.js' %}"></script>

</body>
</html>