<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Список заказов</h1>
<a href="{% url 'order_create' %}">Добавить заказ</a>
<a href="{% url 'revenue' %}">Выручка</a>
<form method="get">
    <input type="text" name="q" placeholder="введите ID или статус">
    <button type="submit">Искать</button>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Стол</th>
        <th>Список блюд</th>
        <th>Общая стоимость</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>
                {% for item in order.order_items.all %}
                    {{ item.name }} ({{ item.quantity }} x {{ item.price }}),
                {% endfor %}
            </td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                <a href="{% url 'order_delete' order.id %}">Удалить заказ</a>
                <a href="{% url 'order_update' order.id %}">Изменить статус</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
